@import "tailwindcss";
@theme inline {
  --font-sans: var(--font-fira-code-sans);
}
@theme {
  --color-bg: #010d1c;
  --color-text: #c9d1d9;
  --color-card: #161b22;
  --color-accent: #ff204e;
  --color-border: #19212d;
}

[data-theme="ayo"] {
  --color-bg: #22223b;
  --color-text: #f2e9e4;
  --color-card: #25283b;
  --color-accent: #c9ada7;
  --color-test: #19212d;
  --color-border: #314158;
}

[data-theme="vscode"] {
  --color-bg: #1e1e1e;
  --color-text: #d4d4d4;
  --color-card: #252526;
  --color-accent: #569cd6;
  --color-border: #1f2938;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background 0.2s ease, color 0.2s ease;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background-color: #4ade80;
  border-radius: 4px;
  border: 2px solid #1f2937;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #22c55e;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) #121212;
}
