@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-fira-code-sans);
  --color-background: var(--backgorund-color);
}
:root {
  --backgorund-color: #121212;
}

@layer base {
  body {
    @apply font-sans bg-background;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background-color: #4ade80;
  border-radius: 4px;
  border: 2px solid #1f2937;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #22c55e;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4ade80 #121212;
}
